.main_background {
  display: flex;
  justify-content: center;
  background-color: steelblue;
  background-image: url('assets/sky.jpg');
  max-width: 1000px;
  max-height: 1000px;
  margin: 0 auto;
  color: #000000;
}

.side-article{
  max-width: 300px;
}
.side-iframe{
  height:10070px;
  border: none;
}

.header-image {
  padding-top: 1%;
  height: 200px;
}

.main-iframe {
  width: 995px;
  height: 800px;
}


/* buttons */
.button-holder {
  display: flex;
  padding-top: 0px;
  max-width: 100%;
  flex-wrap: wrap;
  min-height: 30px;
}

.button-46 {
  align-items: center;
  background-image: linear-gradient(#ffffff, #dcdcdc);
  border: 1px black;
  border-style: solid;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 25%;
  min-height: 30px;
  min-width: none;
  text-decoration: none;
  transition: all .1s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  flex-shrink: 3;
  width: 100%;
}

.button-46:active,
.button-46:hover {
  outline: 0;
}

.button-46:hover {
  background-image: linear-gradient(#dcdcdc, #ffffff);
  border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .button-46 {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }
}

/*articles*/
.article-body {
  background-color: aliceblue;
  width: 1000px;
  height: 1000px;
}